@import "./abstract/variables.css";
@import "./base/index.css";
@import "./layout/index.css";
@import "./pages/index.css";

/* BASE - CONTAINS ANIMATIONS, THE CSS RESET FROM MEYER, AND ANY TYPOGRAPHY RELATED CODE */
/* LAYOUT - CONTAINS MY REUSABLE GRID, THE HEADER & FOOTER, AND THE VIEW CONTAINER */
/* PAGES - CONTAINS PAGE SPECIFIC CSS */
/* MAIN.CSS - HANDLES ALL THE IMPORTS FROM ALL THE FILES*/
