.home-intro {
  max-width: 550px;
}
/* full width paragraph */
p[data-type="full-width"] {
  font-size: 23.5em;
  font-weight: 500;
  padding: 0;
}

/* offset for section header text */
.fs-section-header--offset {
  transform: translateY(-100%) translateX(-50%) !important;
  z-index: 2;
}
/* reassigning my utility class */
.home-project.margin-top--large {
  margin-top: 0rem;
}

.display-text {
  overflow: hidden;
  height: 1.12em;
}

.display-text span {
  position: relative;
  display: inline-block;
  top: 0;
}

/* assigning locations to each character in the large display text */

.display-text span:nth-of-type(1) {
  left: calc(50% - 0.75em);
  transform: translateY(100%);
  animation: slideIn 0.75s ease-in-out forwards,
    resetPosition 0.85s 1s ease-in-out forwards;
}

.display-text span:nth-of-type(6) {
  left: 0.18em;
  transform: translateY(100%);
  animation: slideIn 0.75s 0.05s ease-in-out forwards,
    resetPosition 0.85s 1s ease-in-out forwards;
}

/* adding a delay using the --index set using javascript */

.display-text span:nth-of-type(2),
.display-text span:nth-of-type(3),
.display-text span:nth-of-type(4),
.display-text span:nth-of-type(5),
.display-text span:nth-of-type(7),
.display-text span:nth-of-type(8),
.display-text span:nth-of-type(9),
.display-text span:nth-of-type(10),
.display-text span:nth-of-type(11) {
  --initial-delay: 1.75s;
  --additional-delay: calc(var(--initial-delay) + (var(--index) * 0.025s));
  transform: translateY(100%);
  animation: slideIn 0.55s var(--additional-delay)
    cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

.line-wrap--no-scroll {
  opacity: 0;
  animation: fadeIn 0.5s 2s ease-in-out forwards;
}

/* cta line styles */
.cta-line {
  display: inline-block;
  width: min(100%, 55px);
  height: 1px;
  background-color: var(--bs-primary);
  vertical-align: middle;
  margin-right: 0.5rem;
}

.cta-line + a {
  font-size: 0.85rem;
  color: var(--bs-primary);
  font-weight: 500;
  text-decoration: none;
  vertical-align: middle;
}

.cta-line + a:hover {
  text-decoration: underline;
}

/* header line styles */
.header-line {
  display: inline-block;
  width: min(100%, 55px);
  height: 1px;
  margin-left: 1rem;
  background-color: var(--bs-primary);
  vertical-align: middle;
}

.line-wrap {
  display: inline;
}

.home-projects-grid--1 .home-project {
  position: relative;
  /* width: min(100%, 390px); */
  aspect-ratio: 3/4;
}

.home-projects-grid--1 .home-project:nth-of-type(2) {
  /* width: min(100%, 390px); */
}

.home-projects-grid--2 .home-project:nth-of-type(1) {
  /* width: min(100%, 150px); */
  aspect-ratio: 1/1 !important;
}

.home-projects-grid--2 .home-project:nth-of-type(2) {
  /* width: min(100%, 450px); */
  aspect-ratio: 3/4 !important;
}

@media (min-width: 768px) {
  .home-projects-grid--2 .home-project:nth-of-type(1) {
    aspect-ratio: 3/4 !important;
  }

  .fs-section-header--offset {
    transform: translateY(-50%) translateX(-50%) !important;
    z-index: 2;
  }

  .home-project.margin-top--large {
    margin-top: 9rem;
  }
}

@media screen and (max-width: 768px) {
  p[data-type="full-width"] {
    font-size: 22em;
    text-align: center;
  }
}

/* adds a filter to the image */
.home-project img {
  filter: grayscale(100%) brightness(0.8);
}
