tbody td:first-child {
  padding-left: 25px;
}

tbody td:first-child a {
  position: relative;
}

tbody tr {
  transition: background-color 0.15s ease;
}

tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.025);
}

tbody tr:hover td:first-child a::before {
  display: inline-block;
  position: absolute;
  left: -15px;
  top: 2.5px;
  content: "*";
  color: var(--bs-green);
  vertical-align: middle;
}
